<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Stock Price's</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	

<div class="symb">(<%= @symb %>)</div>
	<div class="price">$<%= @price %></div>




<!-- 

 <div class="top">


 	<p><%= @exchange %></p><p>Stock ID: <%= @id %></p><a href="<%= @reuters %>">Reuters: <%= @reuters %></a></div>



  <main>
    <div class="left"><h1><%= @name %></h1><h1>(<%= @symb %>)</h1></div>
    <div class="center"><h1>$<%= @price %></h1></div>



    <div class="right"><p><span id="chgP"><%= @cp %></span>%</p> <span id="chg"><%= @c %></span></div>
    <div class="side_list">
      <ol>Open: <%= @open %></ol>
      <ol>High: <%= @hi %></ol>
      <ol>Low: <%= @lo %></ol>
      <ol>Volume: <%= @vo %></ol>
      <ol>Avg Vol: <%= @avvo %></ol>
    </div> -->



	

</body>
</html>