<!DOCTYPE html>
<html>
  <head>
    <title>Copro</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
     <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
  </head>

  <body>
  	<%= session[:user_id] %>
    <%= yield %>
  </body>
</html>
