


<p>Title: <%= @moviesearch['Title'] %></p>
<p>Released in: <%= @moviesearch['Year'] %></p>
<p>Plot: <%= @moviesearch['Plot'] %></p>
<p>Cast: <%= @moviesearch['Actors'] %></p>


<img src="<%= @moviesearch['Poster'] %>" width="165" height="250" >
